.editor-styles-wrapper,
.editor-styles-wrapper .editor-writing-flow,
.editor-styles-wrapper p,
.editor-styles-wrapper .wp-block p {
  font:    16px / 26px "Muli", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover h2 {
  font:   600 24px / 28px "Muli", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: none;
}
.text-big,
.dt-accordion-text-big .wpb_accordion_header > a {
  font-size: 16px;
  line-height: 26px;
}
.text-normal,
.dt-accordion-text-normal .wpb_accordion_header > a {
  font-size: 16px;
  line-height: 26px;
}
.text-small,
.dt-accordion-text-small .wpb_accordion_header > a {
  font-size: 14px;
  line-height: 24px;
}
.wp-block-heading h1,
.wp-block-freeform.block-library-rich-text__tinymce > h1 {
  font:   600 48px / 54px "Muli", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h2,
.wp-block-freeform.block-library-rich-text__tinymce > h2 {
  font:   600 34px / 40px "Muli", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h3,
.wp-block-freeform.block-library-rich-text__tinymce > h3 {
  font:   600 24px / 28px "Muli", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h4,
.wp-block-freeform.block-library-rich-text__tinymce > h4 {
  font:   600 20px / 24px "Muli", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h5,
.wp-block-freeform.block-library-rich-text__tinymce > h5 {
  font:   500 18px / 24px "Muli", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce > h6 {
  font:   bold 16px / 22px "Muli", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.editor-styles-wrapper .wp-block .wp-block-button .wp-block-button__link {
  font:   bold 13px / 15px "Muli", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
